* {
    margin: 0;
    padding: 0;
}

.all {
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 60px;
    padding-right: 40px;

}

.all>div {
    border: 2px solid black;
    height: 50vh;
    width: 20vw;
    margin-left: 0px;
}